* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292c2e;
  font-family: sans-serif;
}

.container {
  position: fixed;
  width: 100%;
  padding-right: 220px;
  padding-left: 220px;
  margin-top: 80px;
}

.heading {
  font-family: sans-serif;
  font-weight: calc(40);
  font-size: 28px;
  text-align: center;
  color: #fafffe;
  margin-bottom: 60px;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}

#table thead,
tbody {
  background-color: #353a40;
  color: #fafffe;
}

#table thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fafffe;
  opacity: 1;
  padding: 25px 35px;
  vertical-align: top;
  padding-right: 150px;
  border-bottom: 3px solid #292c2e;
}

#table tbody tr td {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fafffe;
  opacity: 1;
  padding: 25px 35px;
  padding-right: 150px;
  border-bottom: 2px solid #292c2e;
  font-weight: calc(40);
}

#table thead tbody {
  text-align: center;
}
