* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292c2e;
  font-family: sans-serif;
}

.container {
  position: fixed;
  width: 100%;
  padding-right: 220px;
  padding-left: 220px;
  margin-top: 80px;
}

.heading {
  font-family: sans-serif;
  font-weight: calc(40);
  font-size: 28px;
  text-align: center;
  color: #fafffe;
  margin-bottom: 60px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 3px;
  margin-top: -8px;
}

#table thead,
tbody {
  background-color: #353a40;
  color: #fafffe;
}

#table thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fafffe;
  background-color: #353a40;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  padding: 20px;
}

#table tbody tr td {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.35px;
  color: #fafffe;
  background-color: #353a40;
  vertical-align: middle;
  opacity: 1;
  text-align: center;
  padding: 20px;
}

#table tr {
  opacity: 0.6;
}
#table tr:hover {
  opacity: 3;
}
